.product__price {
    font-weight: var(--FONT-WEIGHT-BODY-BOLD);
}

.shop-pay-terms {
    font-size: .875rem;
    margin-top: 1.5rem;
}

.selector-wrapper {
    margin-bottom: 1.5rem;
}

.radio__button label {
    padding: 1rem;
}

@media screen and (max-width: 767px) {
    .product__tag--desktop {
        display: none;
    }
}
